*{
    background-color: antiquewhite;
}
.search-box{
    text-align: center;
}

button{
    height: 40px;
    width: 100px;
    background-color: black;
    color: white;
}

input{
    height: 36px;
    width: 250px;
    margin: 0 5px;
    
}

.result{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
